html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}
.container h6 {
  text-transform: capitalize;
  color: rgba(60, 179, 113, 0.8);
  line-height: 0.8em;
  font-weight: bold;
}
.container h6:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navbar a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
.navbar a:hover {
  color: rgba(0, 128, 128, 0.4);
}
/* .dropdown:hover > .dropdown-menu {
  display: block;
} */

/* .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
/* pointer-events: none; */
/* } */

.accordian {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}
ul {
  margin-bottom: 0;
}
.question {
  padding: 20px;
  cursor: pointer;
  position: relative;
}
.question h2 {
  font-size: 15px;
  margin: 0;
  text-decoration: none;
  color: #c00c00;
}
.question p a:hover {
  color: grey;
}
.question .icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 0;
  color: #c00c00;
  height: 100px;
  display: flex;
  align-items: center;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.answer p a{
  padding: 10px;
}
.accordian li.open .question .icon {
  transform: rotate(180deg);
}
.accordian li.open .answer {
  max-height: 100px;
}
.accordion-container{
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  float: right;
  margin-top: 2px;
}
.set > a.active{
  background-color:#3399cc;
  color: #fff;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
