
 {% extends 'school/base.html'%}
 {% load static %}
 {% block content %}
 {% load crispy_forms_tags%}
<div class="container pt-4">
	<div class="card">
		<div class="mb-1 navbar navbar-light teal accent-1">
			<div class="tooltip bs-tooltip-top" role="tooltip">
			</div>
            <div><a href="{% url 'home' %}" data-toggle="tooltip" title="home menu" class="card-link"><i class="fas fa-home"></i> Home</a></div>
			<div><a href="{% url 'dashboard' %}" data-toggle="tooltip" title="teachers dashboard" class="card-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></div>
		</div>
		<div class="container p-3">
		<div class="table-responsive">

  <!--Table-->
  <table class="table">

    <!--Table head-->
    <thead>
      <tr>
        <th>Id</th>
        <th class="th-lg">Student name</th>
        <th class="th-lg">Attendance</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
	{% for student in students %}
      <tr>
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.student_class }}</td>
		<td>
    <a href="{% url 'pre-primary-1-detail' student.id %}" type="button" class="btn btn-secondary px-3"><i class="fas fa-birthday-cake" aria-hidden="true"></i></a>

      </tr>
	  {% endfor %}
    </tbody>
    <!--Table body-->

  </table>
  <!--Table-->

</div>
		
		<br>
		<div class="card-footer">
			<p class="text-center text-muted">&copy;Copyright new education support system 2019-2020. All Rights observed!</p>
		</div>
	</div>
</div>
<script>
    setTimeout(function(){
    if ($("#messagingmessage").length > 0 ){
     $("#messagingmessage").remove();
    }
    }, 3000)
</script>
{% endblock content%}






