
 {% extends 'school/base.html'%}
 {% load static %}
 {% block content %}
 {% load crispy_forms_tags%}
<div class="container pt-4">
	<div class="card">
		<div class="mb-1 navbar navbar-light teal accent-1">
			<div class="tooltip bs-tooltip-top" role="tooltip">
			</div>
            <div><a href="{% url 'home' %}" data-toggle="tooltip" title="home menu" class="card-link"><i class="fas fa-home"></i> Home</a></div>
			<div><a href="{% url 'dashboard' %}" data-toggle="tooltip" title="teachers dashboard" class="card-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></div>
		</div>
		<div class="container p-3">
		{% if messages %}
			{% for message in messages %}
				<div class='text-center alert alert-{{message.tags}}' id="messagingmessage">
				{{ message }}
				</div>
			{% endfor %}
		{% endif %}	
		</div>
        <div><p class="ml-3">Date: <span class="badge badge-dark">{{ today }}</span></p></div>
		<form method="POST">
		{% csrf_token %}
		<table class="table table-bordered">
		<thead>
			<tr>
			<th scope="col" class="text-secondary">Student name</th>
			<th scope="col" class="text-secondary">Days of the week</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>
			<div class="text-light"><strong>{{ get_id.student_class }}</strong></div>
			    <br/>
				<p class="alert alert-info text-center">Attendance analysis</p>
			    <div class="progress md-progress" style="height: 20px">
                <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
				</div>
			</td>
			<td>
			{{form|crispy }}
			<button type="submit" class="btn btn-info"><i class="fas fa-caret-right"></i> Next day</button>
			</td>
			</tr>
		</tbody>
		</form>
		</table>
		<br>
		<div class="card-footer">
			<p class="text-center text-muted">&copy;Copyright new education support system 2019-2020. All Rights observed!</p>
		</div>
	</div>
</div>
<script>
    setTimeout(function(){
    if ($("#messagingmessage").length > 0 ){
     $("#messagingmessage").remove();
    }
    }, 3000)
</script>
{% endblock content%}






