
 {% extends 'school/base.html'%}
 {% load static %}
 {% block content %}
<div class="container pt-4">
	<div class="card">
		<div class="card-header">
		<div class="navbar">
			<div class="tooltip bs-tooltip-top" role="tooltip">
			</div>
           <div><a href="{% url 'home' %}" data-toggle="tooltip" title="home menu" class="card-link"><i class="fas fa-home"></i> Home</a></div>
		   <div><a href="{% url 'send-message' %}" data-toggle="tooltip" title="send text message to parent" class="card-link"><i class="fas fa-money-check-alt"></i> Text Message</a></div>
		</div>
		</div>
		<div class="card-body">
		{% if messages %}
			{% for message in messages %}
				<div class='text-center alert alert-{{message.tags}}' id="preprimaryperformancemymessage">
				{{ message }}
				</div>
			{% endfor %}
 		{% endif %}
		<table class="card-body">
		<h5 class="text-center p-3 text-secondary">{{ object.Student_name }}, performance</h5>

        <table class="table text-center">
			<thead class="thead-dark">
			<tr>
				<th>subjects</th>
			    <th>scores per activity</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><span>Student Name</span></td>
				<td>{{ object.Student_name }}</td>
			</tr>
			<tr>
				<td><span>Language Activities</span></td>
				<td>{{ object.Language_activities }}</td>
			</tr>
			<tr>
				<td><span>Mathematical Activities</span></td>
				<td>{{object.Mathematical_activities}}</td>
			</tr>
			<tr>
				<td><span>Religious Education Activities</span></td>
				<td>{{ object.Religious_education_activities  }}</td>
			</tr>
			<tr>
				<td><span> Environmental activities</span></td>
				<td>{{ object.Environmental_activities }}</td>
			</tr>
			<tr>
				<td><span>Psychomotor and creative activities  </span></td>
				<td>{{ object.Psychomotor_and_creative_activities  }}</td>
			</tr>
			<tr>
				<td><span>Total score</span></td>
				<td>
				{{ object.get_total_pre_primary }}/500
				{% if object.get_total_pre_primary > 300 %}
				 <p class="text-success">Your score is average</p>
				 {%else%}
				 <p class="text-danger">You fail, you need to improve</p>
				 </td>
				{%endif%}
			</tr>
			<tr>
				<td><span>Teachers comment</span></td>
				<td>{{ object.Teachers_comment }}</td>
			</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-between">
		<a href="{% url 'pre-primary-performance' %}" class="pl-2" data-toggle="tooltip" title="navigate backwards"><i class="fas fa-backward"></i> Back</a>
	    <a href="{% url 'pre-primary-performance-print' object.pk %}" data-toggle="tooltip" class="pr-2" title="print the document">Print <i class="fas fa-print"></i></a>
		</div>
		<div class="card-footer">
			<p class="text-center text-muted">&copy;Copyright new education support system 2019-2020. All Rights observed!</p>
		</div>
		<script>
			setTimeout(function(){
			if ($("#preprimaryperformancemymessage").length > 0 ){
			$("#preprimaryperformancemymessage").remove();
			}
			}, 3000)
		</script>
{% endblock content%}




