{% extends 'school/base_dashboard.html' %}
{% block content %}
{% load static %}      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            {% comment %} including flash message tags {% endcomment %}
             {% include "school/messages.html" %}
    
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Teacher dashboard profile information</h4>
                  <p class="card-category">New education curriculum support system for tracking students progress</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th class="text-primary"><strong>Teacher information</strong></th>
                      <th></th>

                    </thead>
                    <tbody>
                            <tr>
                            <td><a class="text-secondary" href=""><i class="material-icons">person</i> Teacher username</a></td>
                            <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                            <td><a class="text-secondary" href=""><i class="material-icons"><strong>mail</strong></i> Email address</a></td>
                            <td>{{ user.email }}</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
             <div class="card blue-grey darken-1">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Messages Console</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th class="text-info"><strong>Id</strong></th>
                      <th class="text-info"><strong>Phone</strong></th>
                      <th class="text-info"><strong>Message Body</strong></th>
                      <th class="text-info"><strong>Status</strong></th>
                      <th class="text-info"><strong>Price Unit</strong></th>
                      <th class="text-info"><strong>Action</strong></th>
                  
                    </thead>
                    <tbody>
                    {% for view_messages in message_sent %}
                     {% if view_messages %}
                      <tr>
                        <td>{{ view_messages.id}}</td>
                        <td>{{ view_messages.Sent_to}}</td>
                        <td>{{ view_messages.Message_body}}</td>    
                        <td>{{ view_messages.Message_status }}</td>
                        <td>{{ view_messages.Price_unit }}</td>
                        <td><a href="{% url 'delete-message' view_messages.id %}" >
                         <i class="large material-icons">delete_sweep</i>
                        </a></td>
                      </tr>
                      {% else %}
                      <div class="alert alert-info">There is no messages to display!</div>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

            </div>
            </div>
{% endblock %}
            

     